<% layout("/layouts/boilerplate") %>
<body>
    <form method="POST" action="/api/v1/events/create " novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" placeholder="enter title" type="text" class="form-control" required>
            <div class="valid-feedback">
                Title Looks good!
              </div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea  name="description" placeholder="enter description" type="text" class="form-control" required></textarea>
            
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="image" placeholder="enter image url" type="file" class="form-control">
        </div>
        
        <div class="row">
            <div class="col-6 mb-3">
                <label for="price" class="form-label">Price</label>
                <input name="price" placeholder="enter price"class="form-control" required>
            </div>
            
            <div class="col-6 mb-3">
                <label for="country" class="form-label">Location</label>
               <input name="location" placeholder="enter country name" type="text" class="form-control" required>
            </div>
        </div>
      
        <button class="btn btn-dark ">Add</button>
    </form>
</div>
</div>
</body>