<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/api/v1/events/list"><i class="fa-solid fa-compass"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/api/v1/events/list">Welcome to Festify – Your One-Stop Destination for Seamless Event Management! </a>
                
            </div>
            <div class="navbar-nav ms-auto">
                <form method="GET" action="/listings/search/list"class="d-flex" role="search">
                  <input class="form-control me-2" name="search" placeholder="Search Events!" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            <div class="navbar-nav ms-auto d-flex justify-content-center align-items-center ">
                <a class="nav-link" href="/api/v1/events/create ">Add new Event</a>
                <% if(!currUser) {%>
                    <a class="nav-link "  href="/api/v1/users/register"><b class="btn btn-outline-primary ">Sign up</b></a>
                    <a class="nav-link" href="/api/v1/users/login"><b class="btn btn-outline-success ">Log in</b></a>
                    <% } %> 
                    <% if(currUser) { %>
                <form action="/api/v1/users/logout" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Log out</button></form>
                    <% } %>   
            </div>
        </div>
    </div>
</nav>